<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Halley Comet</title>
<style>
@import url('/static/reset.css');
</style>
</head>
<body>

<div class="main">
	<div id="header">
    <div style="float:right" >
        <a href="/regist/" >注册</a>
        <a href="/login/" >登录</a>
        {{user.username}}
    </div>
	<div style="float:left;" ><img src="/static/t.jpg" height="60px;"/></div>
	<div style="margin-left:140px;" >
	<br />
	<h2>哈雷彗星项目组：最佳五人组</h2>
	<h3>Halley's Comet Project Develop Team : TopFive</h3>
	</div>
</div><hr />
<div id="content">
<div id="searchinfo" >
	<form method="post" >{% csrf_token %}
	{{lu.as_p}}
	<input id="searchbtn" type="submit" value="缩短" />
	</form>
</div>

<div id="returninfo">
    <h3>缩短以后的域名：</h3><br />

    <div id="nowinfo"><a  id="js_get_short_url" href="{{long_url}}" >{{short_url}}</a></div>

    <div>
    <input id="J_copy_clipboard_data" type="button" value="copy" />
    </div>
    <div id="nowinfobtn"></div>
</div>
<div id="listdatainfo">
{%for data in  user_data%}
    {{data.long_url}}&nbsp
    {{data.short_url}}
    <br />
{%endfor%}
</div>

</div><hr />
<div id="footer">
<br />
<h2>哈雷彗星项目组：最佳五人组</h2>
<h3>Halley's Comet Project Develop Team : TopFive</h3>
</div>

<script type="text/javascript" src="/static/ZeroClipboard.js"></script>
<script type="text/javascript" src="/static/jquery.min.js"></script>
<script type="text/javascript" src="/static/jzclip.js"></script>

</body>
</html>
